@model UserRoleViewModel

@{
    ViewData["Title"] = "DeleteRoleFromUser";
}


<h1>Delete Role To User</h1>

<h3>Current Roles for user is: @ViewBag.CurrentRoles</h3>

<form asp-controller="Role" asp-action="DeleteRoleFromUser" method="post" class="form-control">

    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="UserId"></label>
        <input asp-for="UserId" readonly="readonly" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" readonly="readonly" class="form-control" />
    </div>
   
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" readonly="readonly" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" readonly="readonly" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" readonly="readonly" class="form-control" />
    </div>
   

    <div class="form-group">
        <label asp-for="RoleName"></label>
        <select asp-for="RoleName" asp-items="ViewBag.ListOfRoles" class="form-control"></select>
    </div>

    <input type="submit" value="Delete Role" class="btn btn-success" />

</form>


