
@{
    ViewData["Title"] = "Aboutmeperson98765";




    string myFullName = "Daniel Oikarainen";

    DateTime myBirthDate = new DateTime(1979, 12, 16);
    // Maybe a class here better
}




<p>About me</p>
<p>Name: @myFullName</p>
<p>I was born on a @(myBirthDate.ToString("dddd")) in @(myBirthDate.ToString("MMMM"))</p>
