
@{
    ViewData["Title"] = "MyProjects";
}

<p>Super Cool Projects - Located at Github</p>


<ul>
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/ripper079/sokoban-lexicon">Sokoban - Coolest math-game in world</a>
    </li>
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/ripper079/LexiconAssignments">Simple Calculator AND vending machine</a>
    </li>
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/ripper079/Lexicon">Arena fighter - First person game</a>
    </li>
</ul>