@* Bind to model *@
@model Language;

@{
    ViewData["Title"] = "AddLanguage";
}

<h2>Add a language To DB</h2>


<form asp-controller="Language" asp-action="AddLanguage" method="post" class="form-control">
    <label asp-for="Name">LANGUAGE</label>
    <input asp-for="Name" />    
    <input type="submit" value="ADD" class="btn btn-primary"/>
</form>
