
@{
    ViewData["Title"] = "AddLanguage";
}

<h1>Add a language To a Person</h1>


@* Make sure that name property of select element matches corresponding  parameter list (POST action method) *@
<form asp-action="AddLanguage" method="post">
	<div class="form-group">
		<label>Person: </label>
		<select name="IdOfPerson" asp-items="ViewBag.People" class="form-control"></select>
	</div>
	<div class="form-group">
		<label>Language: </label>
		<select name="IdOfLanguage" asp-items="ViewBag.Languages" class="form-control"></select>
	</div>
	<input type="submit" value="Add a Language" class="btn btn-primary" />
</form>

