@{
    ViewData["Title"] = "FeverCheck";
}

<p>An apple a day keep the doctors away</p>




<form asp-controller="Doctor" asp-action="FeverCheck" method="post">
    <h2>Your temperature is: @ViewBag.patient </h2>
    @*
    <h4>[Form]</h4>
    <p>
        <label>Celcius<input type="radio" name="temperatureunit" value="celcius" checked="true" /></label>
        <label>Farenheit<input type="radio" name="temperatureunit" value="farenheit" /></label>
        *@
    </p>
    <p>
        @* attribute required="required" is also possible to solve no value set *@
        <label>What is your temperature: <input type="number" name="humantemperature" placeholder="Temperature" /></label>
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>    
</form>
