@model PersonViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create a new Person</h1>

<form asp-controller="Person" asp-action="Create" method="post" class="form-control">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
		<label asp-for="FullName"></label>
		<input asp-for=FullName class="form-control" />
    </div>

    <div class="form-group">
		<label asp-for="PhoneNumber"></label>
		<input asp-for=PhoneNumber class="form-control" />
    </div>

    <div class="form-group">
		<label>City Name</label>
		<select asp-for="City_Id" asp-items="ViewBag.Cities" class="form-control"></select>
    </div>

    <input type="submit" value="Add A person" class="btn btn-primary" />

</form>





