@model IEnumerable<AssignmentMVC.Models.Person>;

@{
    ViewData["Title"] = "DisplayPeopleLanguages";
    string allLanguages = "";
}

<h1>DisplayPeopleLanguages</h1>
<h2>Showing all peoples languages skill - From DB</h2>

@if(ViewBag.LanguageStatus != null)
{
    <h4>@ViewBag.LanguageStatus</h4>
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Language(s)</th>
        </tr>
    </thead>

    <tbody>
    @foreach(var aPerson in Model)
    {
        allLanguages = "";
        <tr>
            <td>@aPerson.FullName</td>
            
            @foreach (var aLanguage in aPerson.Languages)
            {
                allLanguages += aLanguage.Name + " ";
            }
            <td>@allLanguages</td>
        </tr>
    }
    </tbody>
</table>

<a asp-controller="Person" asp-action="Index" class="btn btn-primary">Back To People CRUD</a>