
@{
    ViewData["Title"] = "EditChooseAPerson";
}

<h1>EditChooseAPerson</h1>

@* Make sure that 'name' property of select element matches corresponding  parameter list (POST action method) *@
<form asp-controller="Person" asp-action="EditChooseAPerson" method="post">
	<div class="form-group">
		<label>Pick the Person to Edit</label>
		<select name="IdOfPersonToEdit" asp-items="ViewBag.Person" class="form-control"></select>
	</div>

	<input type="submit" value="EDIT" class="btn btn-secondary"/>
</form>


