@model AssignmentMVC.Models.PeopleViewModel;

@{
    ViewData["Title"] = "Person";
}

<h4><strong>Start</strong> Person.cshtml</h4>


<table>
    <tr>
        <th>FullName</th>
        <th>Phone Number</th>
        <th>City</th>
    </tr>
@foreach (var item in Model.listOfPersons)
{
    <tr>
        <td>@item.FullName</td>
        <td>@item.PhoneNumber</td>
        <td>@item.City</td>
    </tr>    
}
</table>


<form asp-controller="Person" asp-action="Person" method="post">
    <h2>Add a Person</h2>
    <p>
        <label>Name: <input type="text" name="FullName" placeholder="Your name" /></label>
    </p>
    <p>
        <label>Phonenumber: <input type="text" name="PhoneNumber" placeholder="Your phonennumber" /></label>
    </p>
    <p>
        <label>City: <input type="text" name="City" placeholder="City name" /></label>
    </p>
    <p>
        <button type="submit" value="Create">Add Person</button>
    </p>
</form>

@*<form asp-controller="Person" asp-action="AddPerson" method="post">
    FullName:  <input asp-for="FullName" /> <br />
    PhoneNumber: <input asp-for="PhoneNumber" /><br />
    City: <input asp-for="City" /><br />
    <button type="submit">Register</button>
</form>
*@

<h4><strong>End</strong> Person.cshtml</h4>