
@{
    ViewData["Title"] = "Index";
}

<h1>AJAX - Testing Testing Testing - Index.cshtml</h1>

<button id="btnshowallpeople" class="btn btn-primary">Show All People</button><br><br>
<button id="btnshowdetailpeople" class="btn btn-secondary">Detail of a person</button>
<button id="btndeleteapeople" class="btn btn-danger">Delete a person</button><input type="number" id="idofperson" placeholder="PersonID" min="1" max="5000"><br><br>




<div id="emptyDiv">An empty div here</div>

@* This works *@

@*@section scripts {

    <script>
        //Will execute after the page has been loaded
        $(document).ready(function () {
            $('#btnshowallpeople').on('click', function () {        //When button is clicked                   
                alert("Clicked the Show all people Button");
                
                //Do something - Show return a view a all people
                $("#emptyDiv").html("Populated the div element now");
            });
        });
    </script>

}

*@


@section scripts {

    <script>

    //Show all people button

    $(document).ready(function () {
        $('#btnshowallpeople').on('click', function () {                   //
            console.log("Button show all people clicked");            

            $.ajax({
                type: "GET",
                url: "/Ajax/GetAllPersons",
                success: function (response) {                          //returns a partial view
                    

                    $("#emptyDiv").html(response);                      //set a "new" view
                }
            });

        });
    });


    //Show detail button
    $(document).ready(function () {
        $('#btnshowdetailpeople').on('click', function () {                   
            var idOfOnePersonDetail = $("#idofperson").val();
            
            console.log("Button |Detail of a person| was clicked. Value selected was: " + idOfOnePersonDetail);
            

            $.ajax({
                type: "GET",
                url: "/Ajax/GetOnePersons",
                data: {id: idOfOnePersonDetail},
                success: function (response) {                                      //Return a partial view


                    
                    $("#emptyDiv").html(response);                      //set a "new" view

                }
            });

        });
    });

    //Show delete button
    $(document).ready(function () {
        $('#btndeleteapeople').on('click', function () {                   
            var idOfOnePersonDelete = $("#idofperson").val();
            
            console.log("Button |Delete a person| was clicked. Value selected was: " + idOfOnePersonDelete);

            $.ajax({
                type: "POST",
                url: "/Ajax/RemovePerson",
                //dataType: "html",
                data: {id: idOfOnePersonDelete},
                success: function (response) {
                    //alert("A user was deleted");

                    
                    $("#emptyDiv").html(response);                      //set a "new" view

                }
            });

        });
    });
    



    </script>

}





