
@{
    ViewData["Title"] = "Index";
}

<h1>AJAX - Testing Testing Testing - Index.cshtml</h1>

<button id="btnshowallpeople" class="btn btn-primary">Show All People</button><br><br>
<button id="btnshowdetailpeople" class="btn btn-secondary">Detail of a person</button>
<button id="btndeleteapeople" class="btn btn-danger">Delete a person</button><input type="number" id="idofperson" placeholder="PersonID" min="1" max="5000"><br><br>



@*The container for partial views*@
<div id="emptyDiv">An empty div here</div>


@section scripts {

    <script>

    //Show all people button
    $(document).ready(function () {
        $('#btnshowallpeople').on('click', function () {                    //Button click body
            //console.log("Button show all people clicked!");                  //Debug info                  

            $.ajax({
                type: "GET",
                url: "/Ajax/GetAllPersons",
                success: function (response) {                      //returns a partial view                    

                    $("#emptyDiv").html(response);                  //set a "new" view
                }
            });
        });
    });


    //Show detail button
    $(document).ready(function () {
        $('#btnshowdetailpeople').on('click', function () {                   
            var idOfOnePersonDetail = $("#idofperson").val();       //Retreive value from text input
            
            //console.log("Button |Detail of a person| was clicked. Value selected was: " + idOfOnePersonDetail);
            
            $.ajax({
                type: "POST",
                url: "/Ajax/GetOnePersons",
                data: {id: idOfOnePersonDetail},            //Argument, make sure to match id with parameter list in corresponding action method
                success: function (response) {              //Return a partial view - Response could be named anything
                    
                    $("#emptyDiv").html(response);          //set a "new" view
                }
            });
        });
    });

    //Show delete button
    $(document).ready(function () {
        $('#btndeleteapeople').on('click', function () {                   
            var idOfOnePersonDelete = $("#idofperson").val();       //Retreive value from text input
            
            //console.log("Button |Delete a person| was clicked. Value selected was: " + idOfOnePersonDelete);

            $.ajax({
                type: "POST",
                url: "/Ajax/RemovePerson",
                //dataType: "html",
                data: {id: idOfOnePersonDelete},            //Argument, make sure to match id with parameter list in corresponding action method
                success: function (response) {              //Returns a simple string indicating delete status
                    //alert("A user was deleted");
                    
                    $("#emptyDiv").html(response);          //returns a string indicating status for deleting
                }
            });
        });
    });    

    </script>

}


