@model Person

@{
    ViewData["Title"] = "Create";
}

<h1>Create (Add) a new Language to Person - '@Model.FullName'</h1>

@* Make sure that name property of select element matches corresponding  parameter list (POST action method) *@
<form asp-controller="PersonLanguage" asp-action="Create" method="post" class="form-control">
	
	<div class="form-group">
		<label>Language: </label>
		<select name="IdOfLanguage" asp-items="ViewBag.Languages" class="form-control"></select>
	</div>

	<div class="form-group">
		<input type="hidden" name="IdOfPerson" value=@Model.IdPerson />
	</div>
	
	<input type="submit" value="Add a Language to person" class="btn btn-primary" />
</form>

