@model AssignmentMVC.Models.CityViewModel;

@{
    ViewData["Title"] = "RetrieveCitiesFromDB";
}

<h1>From CityController - RetrieveCitiesFromDB</h1>

<h3>Data from a CityViewModel</h3>

@if(ViewBag.StatusNewCity != null)
{
    <h3>Status: @ViewBag.StatusNewCity</h3>
}

<table>
    <tr>
        <th>Id Of City</th>
        <th>Name of City</th>          
        <th>Country_id</th>    
    </tr>
@foreach (var aCity in Model.listOfCities)
{    
    <tr>
        <td>@aCity.Id</td>
        <td>@aCity.CityName</td>        
        <td>@aCity.Country_Id</td> 
    </tr>   
}
</table>
