<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/style.css">
    <title>@ViewBag.Title</title>
</head>
<body>

    <header>
        <h1>Logo</h1>                 
        <nav>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Aboutmeperson">About me</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="ContactMe">Contact me</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="MyProjects">Projects</a>
                </li>
                <li>
                    <a asp-controller="Doctor" asp-action="FeverCheck">FeverCheck</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="GuessingGame">Guessing GAME</a>
                </li>
                <li>
                    <a asp-controller="Person" asp-action="Person">People Index</a>
                </li>
                <li>
                    <button><a asp-controller="Person" asp-action="Index">People</a></button>
                </li>
                <li>
                    <button><a asp-controller="Person" asp-action="Index">Details</a></button>
                </li>
                <li>
                    <button><a asp-controller="Person" asp-action="Index">Delete</a></button>
                </li>
            </ul>
        </nav>           
    </header>


    <div>
        <p><strong>Start </strong> - Common code in _Layout.cshtml</p>
                
        @RenderBody()
        
        <p><strong>End </strong> - Common code in _Layout.cshtml</p>
        
    </div>

</body>

<footer>&copy; Daniel Oikarainen - This page was generated @DateTime.Now.ToString("yyyy/MM/dd")</footer>
</html>
