<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <header>
        <h1>Logo</h1>                 
        <nav>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Aboutmeperson">About me</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="ContactMe">Contact me</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="MyProjects">Projects</a>
                </li>
                <li>
                    <a asp-controller="Doctor" asp-action="FeverCheck">FeverCheck</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="GuessingGame">Guessing GAME</a>
                </li>
                <li>
                    <a asp-controller="Person" asp-action="Person">People Index</a>
                </li>
                <li>
                    <a asp-controller="Ajax" asp-action="Index">Ajax</a>
                </li>
                <li>
                    <button id="buttonpeople" class="btn btn-success">People</button>
                </li>
                <li>
                    <button id="buttondetails">Details</button>
                </li>
                <li>
                    <button id="buttondelete">Delete</button>
                </li>
                <li>
                    <button id="buttonjson" class="btn btn-dark">JSon</button>
                </li>   
                @*<li>
                    <button id="buttondetails"><a asp-controller="Person" asp-action="Index">Details</a></button>
                </li>
                <li>
                    <button id="buttondelete"><a asp-controller="Person" asp-action="Index">Delete</a></button>
                </li>*@
            </ul>
        </nav>           
    </header>


    <div>
        <p><strong>Start </strong> - Common code in _Layout.cshtml</p>
                
        @RenderBody()
        
        <p><strong>End </strong> - Common code in _Layout.cshtml</p>        
    </div>    
    <footer>&copy; Daniel Oikarainen - This page was generated @DateTime.Now.ToString("yyyy/MM/dd")</footer>

    
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/js_ajax.js"></script>
        
        @*Maybe not required*@
        @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
