<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <header>
        <h1>Logo</h1>                 
        <nav>
            <ul>
                @*           
                <li>
                    <a asp-controller="Home" asp-action="Aboutmeperson">About me</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="ContactMe">Contact me</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="MyProjects">Projects</a>
                </li>
                <li>
                    <a asp-controller="Doctor" asp-action="FeverCheck">FeverCheck</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="GuessingGame">Guessing GAME</a>
                </li>
                
                <li>
                    <a asp-controller="Person" asp-action="Person">People Index</a>
                </li>
                <li>
                    <a asp-controller="Ajax" asp-action="Index">Ajax</a>
                </li>                  
                <li>
                    <a asp-controller="Person" asp-action="LINQSearchPeople">LINQ (DB)</a>
                </li>                                
                <li>
                    <a asp-controller="City" asp-action="RetrieveCitiesFromDB">Cities (DB)</a>
                </li>
                <li>
                    <a asp-controller="Country" asp-action="RetrieveCountriesFromDB">Countries (DB)</a>
                </li>                  
                <li>
                    <a asp-controller="Language" asp-action="RetrieveLanguageDB">Languages (DB)</a>
                </li>
                <li>
                    <a asp-controller="Person" asp-action="DisplayPeopleLanguages">List People Languages (DB)</a>
                </li>
                <li>
                    <a asp-controller="Person" asp-action="AddLanguageSkillToPerson">Add a language to person</a>
                </li>
                
                <li>
                    <a asp-controller="Country" asp-action="AddACountryToDB">Add a Country (DB)</a>
                </li>
                <li>
                    <a asp-controller="City" asp-action="AddACityToDB">Add a City (DB)</a>
                </li>
                <li>
                    <a asp-controller="Person" asp-action="AddPersonToDB">Add a Person (DB)</a>
                </li>
                <li>
                    <a asp-controller="Person" asp-action="RemovePersonFromDB">Remove a Person (DB)</a>
                </li>
                                
                
                <li>
                    <a asp-controller="Language" asp-action="AddLanguage">Add a language (DB)</a>
                </li>
                *@

                @if(User.Identity.IsAuthenticated)
                {

                    <li>
                        <a asp-controller="Person" asp-action="RetrievePeopleDB">Retrieve Person Data (DB)</a>
                    </li>

                    <li>
                        <a asp-controller="Country" asp-action="Index">Country CRUD</a>
                    </li>
                    <li>
                        <a asp-controller="City" asp-action="Index">City CRUD</a>
                    </li>
                    <li>
                        <a asp-controller="Person" asp-action="Index">People CRUD</a>
                    </li>
                    <li>
                        <a asp-controller="Language" asp-action="Index">Language CRUD</a>
                    </li>
                    <li>
                        <a asp-controller="PersonLanguage" asp-action="Index">PersonLanguage CRUD</a>
                    </li>
                    <li>
                        <a asp-controller="Role" asp-action="Index">Role CRUD</a>
                    </li>
                    <li>
                        <a asp-controller="Role" asp-action="ListUsers">List Registrated Users</a>
                    </li>
                }

                <li>
                    <partial name="_LoginPartial" />
                </li>
                @*
                <li>
                    <a asp-controller="Person" asp-action="AddLanguageSkillToPerson">Add a language to person</a>
                </li>
                <li>
                    <a asp-controller="Person" asp-action="DisplayPeopleLanguages">List People Languages (DB)</a>
                </li>
                *@
            </ul>
        </nav>           
    </header>


    <div>
        <p><strong>Start </strong> - Common code in _Layout.cshtml</p>
                
        @RenderBody()
        
        <p><strong>End </strong> - Common code in _Layout.cshtml</p>        
    </div>    
    <footer>&copy; Daniel Oikarainen - This page was generated @DateTime.Now.ToString("yyyy/MM/dd")</footer>

    
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/js_ajax.js"></script>
        
        @*Maybe not required*@
        @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
