@model AssignmentMVC.Models.PeopleViewModel;

@{
    ViewData["Title"] = "List all Persons Without ID";
}

<table>
    <tr>
        <th>Id number</th>
        <th>FullName</th>
        <th>Phone Number</th>
        <th>City</th>        
    </tr>
@foreach (var aPersonInstance in Model.listOfPersons)
{    
    <tr>
        <td>@aPersonInstance.IdPerson</td>
        <td>@aPersonInstance.FullName</td>
        <td>@aPersonInstance.PhoneNumber</td>
        <td>@aPersonInstance.City</td>
    </tr>   
}
</table>